<div>
	------
</div>
<br />
<div>
	<a href='mxit://[communityportal]/RecommendPage?ItemId=10429026' type="mxit/service-navigation">Please share this app! :-)</a> | More Mxit: <%= @mixup_ad %>
</div>
<br />
<div>
	<mxit:advert auid="415098"/>
</div>	