<div>
	------
</div>
<br />
<div>
	<a href="mxit://[communityportal]/RecommendPage?ItemId=<%= ENV['MXIT_APP_REFERRAL_ID'] %>" type="mxit/service-navigation">Please share this app! :-)</a> | More Mxit: <%= @mixup_ad %>
</div>
<br />
<div>
	<mxit:advert auid=<%= ENV['MXIT_APP_AUID'] %> />
</div>	