<div>
	<img src=' <%= session[:robotar] %> ' />
	<br />
	<p><a href='<%= url '/' %>'>New</a> robotar! | <a href='<%= url '/avatars/save' %>'>Set</a> as Mxit avatar | <a href='/about'>About</a></p>
<div>

