<div>
 	<img src='<%= session[:robotar] %>' width='100px' height='100px' />
 	Robotar set! :) <a href='mxit://[communityportal]/RecommendPage?ItemId=<%= ENV['MXIT_APP_REFERRAL_ID']%>' type='mxit/service-navigation'> Share</a> with your friends or <a href='/'>make</a> another robotar!</a>
<div>

